@using ProductInventoryMvc.Models.Dto
@model DefineProductDto

@{
    ViewData["Title"] = "Edit Product";
}

<h2>Изменить продукт @Model.Id</h2>

@using (Html.BeginForm("EditProduct", "Home", FormMethod.Post))
{
    <input type="hidden" name="id" value="@Model.Id" />
    <div>
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" />
    </div>
    <div>
        <label for="quantity">Кол-во:</label>
        <input type="number" id="quantity" name="quantity" />
    </div>
    <div>
        <label for="weight">Вес:</label>
        <input type="number" id="weight" name="weight" />
    </div>
        <input type="hidden" name="inventoryName" value="@Model.InventoryName" />
    <div>
        <input type="submit" value="Изменить" />
    </div>
}
